<% unless @users.blank? %>
	<div class="card card-body results-block col-lg-6">
		<% @users.each do |user| %>
			<div class="row">
				<div class="col-lg-9">
					<strong><%= link_to user.full_name, user_path(user) %></strong>
				</div>
				<div class="col-lg-3 no-padding">
					<%= link_to "Follow user", subscriptions_path, class: "btn btn-xs btn-success", method: :post %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
